{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
    <h1 class="mb-4">Tal's Library</h1>
    <h3 class="mb-4">Books</h3>
    <div class="row">
        {% for book in books %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ book['image'] }}" class="card-img-top" alt="{{ book['book_name'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book['book_name'] }}</h5>
                    <p class="card-text">Year: {{ book['year'] }}</p>
                    <p class="card-text">Quantity: {{ book['quantity'] }}</p>
                    <a href="{{ url_for('edit_book', book_id=book['id']) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ url_for('delete_book', book_id=book['id']) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% else %}
        <p>No books found</p>
        {% endfor %}
    </div>
{% endblock %}
